.page-container {
    display: flex;
    height: 100%;
   
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  .sidebar-container {
    width: 250px; /* Adjust the width as needed */
    height: 100%;
  }
  
  .content-container {
    flex-grow: 1;
  }

  .logo-container {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
  }
  
  .logo-container img {
    width: 150px; /* Adjust the width of the logo */
    height: 50px; /* Adjust the height of the logo */
  }

  .top-part{
    display: flex;
    margin-top: 0;
    background-color: rgb(220, 218, 215);
    align-items: center;
    justify-content: center;
    width: 100%;
   
    height: 100px;
    box-shadow: 3px 3px 10px 6px rgba(109, 16, 16,0.3);
    background: linear-gradient(to top right , rgb(109, 16, 16), #4c0202);
  }
  .welcome{
    width: 1600px;
    color:  #000;
    font-size: 48px;
    font-weight: 700;
    color: antiquewhite;
  }
  .personal-info {
    display: column;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 70px;
    margin-left: 0;
    border-radius: 1px solid #000 ;

    margin-left: 400px;
    margin-right: 400px;
    
  }
  
  .field {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(109, 16, 16);
    font-size: 32px;
  }
  
  .info {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    font-size: 32px;
    
  }


  @font-face {
    font-family: "Futura";
    src: url(../Components/Assets/Futura/Futura.otf);
  }